$grey: #bebebe;
$orange: #FF800D;
$green: #1FCB4A;

.skilltablerow__skillgroup {
  font-family: Sans-Serif;
  vertical-align: top;
  padding: 0 5px;
  width: 17.3%;
}

.skilltablerow__skill {
  font-family: Sans-Serif;
  width: 13%;
  padding: 0 10px;
}

@define-extend step {
  font-family: Sans-Serif;
  width: 10%;
  padding: 0 5px;
  text-align: center;
}

.skilltablerow__step {
  @extend step;
  &:hover {
    cursor: pointer;
  }
}

.skilltablerow__step--current {
  @extend step;
  background: $orange;
  &:hover {
    cursor: pointer;
  }
}

.skilltablerow__step--done {
  @extend step;
  background: $green;
  &:hover {
    cursor: pointer;
  }
}

.skilltablerow__step--empty {
  background: $grey;
}

